body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #577284 0%, #2A4B7C 100%);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
